@import "animations";
@import "trigo";
@import "constants";
@import "gate";
@import "diodes";
@import "cables";
@import "victory";
@import "levels";

div[class^="victory"] {
    text-align: center;
}

body {
    margin: 0;
    background-image: url("./bg2.jpg");
    background-size: contain;
}

input[type="checkbox"] {
    position: absolute;
    top: -100px;
}

container {
    display: block;
    margin: 10vh 10vw 10vh 10vw;
    min-height: $container-height;
    min-width: $container-width;
    background-image: url("./fg2.jpg");
    background-size: 100%;
    box-shadow: 0px 0px 20px 14px;
}

/* —————————————————————————————————— LEVEL 1 —————————————————————————————————— */
@include setupLevel(1);

// Setup diodes for level 1 (4 diodes)
@include setupDiodes(4, 1);

/*
   direction :
     * 1 = droite
     * 2 = gauche
*/

// LAYER 1
$cables-layer-1 : 1,
2,
1,
2;

// LAYER 2
$cables-layer-2 : 1,
2;

$cables-layer-2-schema : (1, 1, 2, 2),
(2, 2, 1, 1);

// LAYER 3
$cables-layer-3 : 3;

$cables-layer-3-schema : (1, 1, 1, 1),
null;

$layers : ($cables-layer-1, $cables-layer-2, $cables-layer-3);
$schemas : (null, $cables-layer-2-schema, $cables-layer-3-schema);
@include setupCableLayers($layers, $schemas, 4, 1);

$gates-layer-1 : (0, 0);
$gates-layer-2 : 0;
$gates : ($gates-layer-1, $gates-layer-2);
@include setupGateLayers($gates, 4, 1);

@include setupVictory((1, 1, 1, 1), 1);


/* —————————————————————————————————— LEVEL 2 —————————————————————————————————— */
@include setupLevel(2);
@include setupDiodes(4, 2);

// LAYER 1
$cables-layer-1 : (1, 2, 1, 2);

// LAYER 2
$cables-layer-2 : (1, 2);

$cables-layer-2-schema : (1, 1, 2, 2),
(2, 2, a, a);

// LAYER 3
$cables-layer-3 : 3;

$cables-layer-3-schema : (1, 1, a, a),
null;

$layers : ($cables-layer-1, $cables-layer-2, $cables-layer-3);
$schemas : (null, $cables-layer-2-schema, $cables-layer-3-schema);
@include setupCableLayers($layers, $schemas, 4, 2);


@include setupVictory((1, 1, a, a), 2);

/* —————————————————————————————————— LEVEL 3 —————————————————————————————————— */
@include setupLevel(3);
@include setupDiodes(8, 3);

// LAYER 1
$cables-layer-1 : (1, 2, 1, 2, 1, 2, 1, 2);

// LAYER 2
$cables-layer-2 : (1, 2, 1, 2);

$cables-layer-2-schema : (1, 1, 2, 2, 2, 2, 2, 2),
(2, 2, 1, 1, 2, 2, 2, 2),
(2, 2, 2, 2, a, a, 2, 2),
(2, 2, 2, 2, 2, 2, 1, 1);

// LAYER 3
$cables-layer-3 : (1, 2);

$cables-layer-3-schema : (1, 1, 1, 1, 2, 2, 2, 2),
(2, 2, 2, 2, a, a, 1, 1);

// LAYER 4
$cables-layer-4 : 3;

$cables-layer-4-schema : (1, 1, 1, 1, a, a, 1, 1);

$layers : ($cables-layer-1, $cables-layer-2, $cables-layer-3, $cables-layer-4);
$schemas : (null, $cables-layer-2-schema, $cables-layer-3-schema, $cables-layer-4-schema);
@include setupCableLayers($layers, $schemas, 8, 3);


@include setupVictory((1, 1, 1, 1, a, a, 1, 1), 3);