@import "string-utils";
@import "popup";

@mixin setupVictory($secret, $level) {

    .victory-level-#{$level} {
        position: absolute;
        width: $victory-width;
        height: $victory-height;

        background: red;
        box-shadow: 0px 0px 10px 1px red;

        transform: translateX(calc(#{$container-width / 2} - #{$victory-width / 2})) translateY($victory-margin);

        span {
            position: relative;
            top: calc(#{$victory-height} / 2 - 0.5em);
            font-family: Arial, Helvetica, sans-serif;
            color: #ecf0f1;
            font-weight: bold;
        }
    }

    $number-of-inputs: length($secret);
    $supra-selector: "";
    $ors : ();

    @for $requirementno from 1 through $number-of-inputs {
        $value: nth($secret, $requirementno);

        @if ($value==0) {
            $supra-selector : $supra-selector+".checkbox-#{$requirementno}-level-#{$level}:not(:checked) ~ ";
        }

        @else if ($value==1) {
            $supra-selector : $supra-selector+".checkbox-#{$requirementno}-level-#{$level}:checked ~ ";
        }

        @else {
            @for $orno from $requirementno through $number-of-inputs {
                @if ($orno <=$number-of-inputs) {
                    @if nth($secret, $orno)==$value {
                        $list-of-ors: map-get($ors, $value);

                        @if not index($list-of-ors, $orno) {
                            @if not $list-of-ors {
                                $supra-selector: $supra-selector+"//#{$value}//";
                            }

                            $list-of-ors: append($list-of-ors, $orno, comma);
                            $ors: map-merge($ors, ($value : $list-of-ors));
                        }
                    }
                }
            }
        }
    }

    $supra-selector: $supra-selector+"//SELECTOR//";
    $or-selector: "";



    // ".checkbox-#{$or}-level-#{$level}:checked ~ "

    @if index(map-keys($ors), a) !=null {
        $supra-selector: $supra-selector+", ";
        $or-selector: "";
        $number-of-possibilities: length(map-get($ors, a)) - 1;

        @each $pair,
        $list in $ors {
            @if $pair !=a {
                $number-of-possibilities: $number-of-possibilities * (length($list) - 1);
            }
        }

        //           Supra Selector prepre format :
        // #{$supra-selector}
        //         possibilities :
        //         #{$number-of-possibilities}
        @for $poss from 1 through $number-of-possibilities {
            $temp-selector: $supra-selector;

            @each $val in map-keys($ors) {
                $temp-selector : str-replace($temp-selector, "//#{$val}//", "//#{$val}#{$poss}//")
            }

            $or-selector: $or-selector+$temp-selector;
        }

        //          Supra Selector pre format :
        // #{$or-selector}
        $s : a;
        $or-selector : propagate($s, map-keys($ors), $ors, $or-selector, 1, $level, $number-of-possibilities);

        //         keys : #{map-keys($ors)}
        //         key : #{$s}
        //         index : #{index(map-keys($ors), $s)}
        //         map-get : #{map-get($ors, a)}
        //         nthmap-get : #{nth(map-get($ors, a), 2)}
        //         length : #{length(map-keys($ors))}
        //         mod : #{pow(2, length(map-keys($ors)) - 1)}


        //         Supra Selector post format :
        // #{$or-selector}
    }

    @if $or-selector !="" {
        $or-selector: str-slice($or-selector, 1, length($or-selector) - 4);
        $supra-selector: $or-selector;
    }


    $supra-selector-victory : str-replace($supra-selector, "//SELECTOR//", "container level-#{$level}>.victory-level-#{$level}");

    @include setupPopup($supra-selector, $level);

    #{$supra-selector-victory} {
        background-color: green;
        box-shadow: 0px 0px 10px 1px green;
    }
}

@mixin setupVictoryScreen() {
    wrapper-level-#{$number-of-levels + 1} {

        div.mark {
            min-height: 100px;
            min-width: $container-width;
            font-family: Arial, Helvetica, sans-serif;
            color: white;
            text-align: center;
            font-size: xx-large;

            &::after {
                content: quote("Vous avez activé ") counter(checked) quote(" entrée(s), la nombre minimal était de #{$opti}");
            }
        }

        div.cup {
            background-image: url("cup.svg");
            background-repeat: no-repeat;
            background-position: center;
            min-height: calc(#{$container-height} - 100px);
            min-width: $container-width;

            input {
                position: relative;
                font-size: xx-large;
                text-align: center;
                font-family: Arial, Helvetica, sans-serif;
                color: #FED944;
                background-color: #be8b00;
                border: none;
                width: $container-width / 4;
                transform: translateX(calc(#{$container-width / 2 - $container-width / 8} + 10px)) translateY(calc(#{$container-height} - 150px));
            }
        }
    }
}